@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Droid+Sans+Mono|PT+Mono|Quicksand|Geo);
@import url(font/socicon/styles.css);

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.background-gradiant {
	// background: radial-gradient(farthest-side at 98% 0px ,#63569A,#9a5670);
	background: radial-gradient(farthest-side at 98% 0px, #2c2256, #582f3f);
    background-attachment: fixed;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;

	color: white;

	font-family: 'Roboto Mono', monospace;
	font-family: 'Droid Sans Mono', monospace;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Aileron', sans;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Geo', sans-serif;

	font-weight: 300;

	.text {
		padding: 2px 8px;
	}
}

h1 {
	font-size: 50px;
	margin-left: -8px;
}

article.entry-content {
	h1:not(:first-child) {
		margin-top: 30px;
	}
}

h2 {
	font-size: 35px;
	margin-top: 25px;
}

h3 {
	font-size: 25px;
	margin-top: 20px;
}

a {
	color: white;

	transition-property: transform;
	transition-duration: 0.1s;
	display: inline-block;
	transform-origin: 0 100%;

	&:hover {
		transform: skew(-20deg);
		text-shadow:
		-1px 1px 0 black,
		-1px 2px 0 black,
		-2px 1px 0 black,
		-2px 2px 0 black;
	}
}

nav {
	padding: 20px;

	// font-family: 'PT Mono', monospace;
	font-family: 'Geo', sans-serif;
	// font-family: 'Quicksand', sans-serif;
	font-size: 22px;

	.link {
		float: left;
		margin-right: 50px;

		a {
			color: white;
			text-decoration: none;
		}
	}

	&:after {
		content: ' ';
		display: block;
		clear: both;
	}
}

canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	.background-gradiant;
	z-index: -1;
}

p {
	margin: 10px 0; 
}

pre {
	font-family: 'Droid Sans Mono', monospace;
	border: 1px solid white;
}

ul:not(.no-bullet), ol:not(.no-bullet) {
	padding-left: 30px;
}

@backgroundColor: #111111;

.text {
	// background: @backgroundColor;
	// box-shadow: 10px 0 @backgroundColor;
	// TODO find a way to have a left shadow without going over previous elements
	.background-gradiant;
}

// Exceptions
pre, textarea, table {
	// background: @backgroundColor;
	.background-gradiant;

	.text {
		background: none;
		box-shadow: none;
	}
}

#container {
	position: absolute;

	right: -100px;
	top: 50px;
	bottom: 0;
	left: 0;

	padding: 20px;
	padding-right: 120px;

	overflow: auto;

	& > * {
		max-width: 1200px;
	}
}

#whoami {
	#me-photo {
		@size: 150px;
		background-image: url(photo.jpg);
		background-size: cover;

		float: right;
		width: @size;
		height: @size;
		margin: 10px @size/2;
		border-radius: @size/2;
		border: 2px solid #eeeeee;

		&:hover {
			border: dashed;
		}
	}
}

#contact {
	li {
		line-height: 35px;

		[class^="socicon-"], [class*=" socicon-"] {
			font-size: 30px;
			padding-right: 10px;
			vertical-align: text-top;
		}
	}
}

.anchor {
	display: none;
}

.no-bullet {
	list-style-type: none;
}

::selection {
	background-color: rgba(10, 10, 10, 0.99);
}